<div class="container">
<div class="card">
  <div class="card-header">
    <h1>About</h1>
  </div>
  <div class="card-body">
  	
    <blockquote class="blockquote mb-0">
      <p>"This is a phonebook application built with Ruby on Rails."</p>
      <footer class="blockquote-footer">Nana B, <cite title="Source Title">A Ruby Developer.</cite></footer>
    </blockquote>
    <%= link_to 'Home', root_path, class:'btn btn-secondary'%>
    <%= link_to 'Contacts', contacts_path, class:'btn btn-success'%>
  </div>
</div>
</div>