<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
      <div class="col-md-8 fs-4">
        <%= render @contact %>
    
      </div>
  </div>
      <div>
          <%= link_to "Edit this contact", edit_contact_path(@contact), class:"btn btn-secondary" %> 
          <%= link_to "Back to contacts", contacts_path, class:"btn btn-info" %>  
      </div>
      <br>
      <div>
        <%= button_to "Delete this contact", @contact, method: :delete, class:"btn btn-danger" %>
      </div>
</div>
