<p style="color: green"><%= notice %></p>

<h1>Phonebook cruds</h1>

<div id="phonebook_cruds">
  <% @phonebook_cruds.each do |phonebook_crud| %>
    <%= render phonebook_crud %>
    <p>
      <%= link_to "Show this phonebook crud", phonebook_crud %>
    </p>
  <% end %>
</div>

<%= link_to "New phonebook crud", new_phonebook_crud_path %>
